nav {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #24282f;
  position: relative;
  top: 5.1rem;
  height: 10rem;
  .pagination {
    list-style: none;
    display: flex;
    li {
      margin: 0 0.1rem;
    }
    button {
      cursor: pointer;
      color: white;
      background-color: #24282f;
      display: block;
      padding: 0.5rem 1rem;
      border: 0.3rem solid #777;
      border-radius: 0.5rem;
      &.active {
        background-color: #02a9c0;
      }
    }
  }
  .visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    margin: 0;
    padding: 0;
    overflow: hidden;
    position: absolute;
    width: 0.3rem;
    white-space: nowrap;
  }
}
