.character-card-grid {
  background-color: #24282f;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  &__container {
    margin: 5rem auto;
    width: 140rem;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
}

.error-message {
  color: #202329;
  text-align: center;
  font-weight: bold;
  margin-top: 10vh;
  font-size: 5rem;
}

