@import "./sass/variables.scss";

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%;
  color: #f9f6f9;
}

body {
  font-size: inherit;
  font-family: "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  box-sizing: border-box;
  font-weight: 400;
  line-height: 1.7;
}

::selection {
  color: #ff9800;
  background: #202329;
}

a {
  color: white;
  text-decoration: none;
  text-transform: uppercase;
}
a:hover,
a:active {
  color: #ff9800;
}
